    <h3><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Agreement rules</h3>

    <br/>

    <!-- Display rules by destination or goods -->
    <form class="form-inline" name="request.formRequest">

        <div class="form-group">
            <label>Display by &nbsp;&nbsp;</label>
            <label><input type="radio" name="displayOption" id="displayOption1" value="destination"
                          ng-model="displayMode"
                          ng-checked="displayMode=='destination'"
                          ng-click="changeCriteria()">
                Destination</label>
            <select class="form-control" id="inputDestination" name="inputDestination"
                    ng-model="selectedDestination"
                    ng-options="destination.code as destination.name for destination in agreementRules.destinationsForSelect"
                    ng-change="changeCriteria()">
            </select>
            &nbsp;&nbsp;
            <label><input type="radio" name="displayOption" id="displayOption2" value="goods"
                          ng-model="displayMode"
                          ng-checked="displayMode=='goods'"
                          ng-click="changeCriteria()">
                Goods</label>
            <select class="form-control" id="inputGoods" name="inputGoods"
                    ng-model="selectedGoods"
                    ng-options="goods.code as goods.name for goods in agreementRules.goodsForSelect"
                    ng-change="changeCriteria()">
            </select>
        </div>
    </form>

    <br/>

    <!-- Rules per destination -->

    <div ng-show="displayMode=='destination'">
        <div class="panel panel-info"
             ng-repeat="destination in agreementRules.destinations"
             ng-if="selectedDestination=='ALL' || selectedDestination==destination.code">
            <div class="panel-heading"><strong>{{destination.name}} - {{destination.comment}}</strong></div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Goods</th>
                        <th>Agreement visas required</th>
                        <th ng-if="!agreementRules.getRule(destination.code, goods.code).allowed"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="goods in agreementRules.goods">
                        <td>{{goods.name}}</td>
                        <td ng-if="agreementRules.getRule(destination.code, goods.code).allowed">
                            <span ng-repeat="visa in agreementRules.getRule(destination.code, goods.code).visas">
                                <span class="label label-default">{{visa.departmentName}} - {{visa.seniority}}</span>
                                <span class="glyphicon glyphicon-chevron-right glyphicon-align-left" aria-hidden="true"
                                      ng-if="!$last"></span>
                            </span>
                        </td>
                        <td ng-if="!agreementRules.getRule(destination.code, goods.code).allowed">
                            <label class="label label-danger">Not allowed</label>
                        </td>
                        <td>
                            <a href="#{{ruleUrl(destination.code, goods.code)}}"
                               class="btn btn-default btn-sm">Create/Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Rules per goods -->

    <div ng-show="displayMode=='goods'">
        <div class="panel panel-info"
             ng-repeat="goods in agreementRules.goods"
             ng-if="selectedGoods=='ALL' || selectedGoods==goods.code">
            <div class="panel-heading"><strong>{{goods.name}}</strong></div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Destination</th>
                        <th>Agreement visas required</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="destination in agreementRules.destinations">
                        <td>{{destination.name}}</td>
                        <td ng-if="agreementRules.getRule(destination.code, goods.code).allowed">
                            <span ng-repeat="visa in agreementRules.getRule(destination.code, goods.code).visas">
                                <span class="label label-default">{{visa.departmentName}} - {{visa.seniority}}</span>
                                <span class="glyphicon glyphicon-chevron-right glyphicon-align-left" aria-hidden="true"
                                      ng-if="!$last"></span>
                            </span>
                        </td>
                        <td ng-if="!agreementRules.getRule(destination.code, goods.code).allowed">
                            <label class="label label-danger">Not allowed</label>
                        </td>
                        <td>
                            <a href="#{{ruleUrl(destination.code, goods.code)}}"
                               class="btn btn-default btn-sm">Create/Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
