
    <h3 ng-show="agreementRule.editionMode"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
        Edition of agreement rule</h3>

    <h3 ng-show="agreementRule.creationMode"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
        Creation of agreement rule</h3>

    <br/>

    <div ng-class="panelStyle">

        <div class="panel-heading">
            <span class="large" ng-show="!agreementRule.editedRule.allowed">
                <mark><strong>[BANNED]</strong></mark></span>
            Agreement rule for <strong>{{destination.name}}</strong> / <strong>{{goods.name}}</strong>
        </div>

        <div class="panel-body">

            <div class="row"
                 ng-show="agreementRule.editionMode">
                <div class="col-xs-12 col-md-2"><p class="text-right">Creation :</p></div>
                <div class="col-xs-12 col-md-4"><label>
                    {{agreementRule.editedRule.creationDate}} by
                    {{agreementRule.editedRule.creationUser}}</label></div>
                <div class="col-xs-12 col-md-2"><p class="text-right">Last update :</p></div>
                <div class="col-xs-12 col-md-4"><label>
                    {{agreementRule.editedRule.updateDate}} by
                    {{agreementRule.editedRule.updateUser}}</label></div>
            </div>

            <br/>

            <table class="table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Required visa</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="visa in agreementRule.editedRule.agreementVisas">
                        <td>{{$index + 1}}</td>
                        <td>
                            <form class="form-inline">
                                <div class="form-group">
                                    Department :
                                    <select class="form-control" id="inputDepartment"
                                            ng-model="visa.departmentCode"
                                            ng-options="department.code as department.name for department in agreementRule.departments"
                                            ng-required="true"></select>
                                    &nbsp;&nbsp;
                                    Seniority :
                                    <input type="number" class="form-control" min="0" max="100"
                                           value="{{visa.seniority}}"
                                            ng-required="true">
                                    &nbsp;&nbsp;
                                    <div class="btn-group" role="group" aria-label="">
                                        <button type="button" class="btn btn-default"
                                                ng-show="!$first"
                                                ng-click="agreementRule.moveVisaLeft($index)">
                                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                ng-show="!$last"
                                                ng-click="agreementRule.moveVisaRight($index)">
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                ng-click="agreementRule.removeVisa($index)"
                                                ng-show="agreementRule.editedRule.agreementVisas.length>1">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td><button type="button" class="btn btn-default"
                                ng-click="agreementRule.addVisa()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            &nbsp;Add a visa
                        </button></td>
                    </tr>

                </tbody>
            </table>

            <br/>

            <!-- Buttons CANCEL and SAVE -->

            <div class="row">
                <div class="col-xs-12 col-md-12"><p class="text-center">
                    <a class="btn btn-primary" href="rule.html" role="button"
                            ng-click="agreementRule.cancel()">Cancel</a>
                    <a class="btn btn-danger" href="rule_banned.html" role="button"
                            ng-show="agreementRule.editedRule.allowed"
                            ng-click="agreementRule.ban()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Ban it !
                    </a>
                    <a class="btn btn-danger" href="rule.html" role="button"
                       ng-show="!agreementRule.editedRule.allowed"
                       ng-click="agreementRule.unban()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        Unban it
                    </a>
                    <button type="submit" class="btn btn-success"
                            ng-click="agreementRule.save()">
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save</button>
                </p>
                </div>
            </div>

        </div>

    </div>