
    <h3 ng-show="agreementRule.editionMode"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
        Edition of agreement rule</h3>

    <h3 ng-show="agreementRule.creationMode"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
        Creation of agreement rule</h3>

    <br/>

    <!-- Choose destination and goods -->
    <form class="form-inline" name="agreementRule.formSelection">

        <div class="form-group">
            <label>Destination</label>
            <select class="form-control" id="inputDestination" name="inputDestination"
                    ng-model="agreementRule.selectedDestination.code"
                    ng-options="destination.code as destination.name for destination in agreementRule.destinationList"
                    ng-change="agreementRule.changeSelectedRule()">
            </select>
            &nbsp;&nbsp;
            <label>Goods</label>
            <select class="form-control" id="inputGoods" name="inputGoods"
                    ng-model="agreementRule.selectedGoods.code"
                    ng-options="goods.code as goods.name for goods in agreementRule.goodsList"
                    ng-change="agreementRule.changeSelectedRule()">
            </select>
        </div>
    </form>

    <br/>

    <div class="alert alert-danger" ng-if="showOverallErrorMsg">
        {{saveErrorMsg}}
    </div>

    <div ng-class="panelStyle">

        <div class="panel-heading">
            <span class="large" ng-show="!agreementRule.rule.reqAllowed">
                <mark><strong>[BANNED]</strong></mark>&nbsp;&nbsp;
            </span>
            Agreement rule for <strong>{{agreementRule.rule.destinationName}}</strong> /
            <strong>{{agreementRule.rule.goodsName}}</strong>
        </div>

        <div class="panel-body">

            <div class="row"
                 ng-show="agreementRule.editionMode">
                <div class="col-xs-12 col-md-2"><p class="text-right">Creation :</p></div>
                <div class="col-xs-12 col-md-4"><label>
                    {{agreementRule.editedRule.creationDate}} by
                    {{agreementRule.editedRule.creationUser}}</label></div>
                <div class="col-xs-12 col-md-2"><p class="text-right">Last update :</p></div>
                <div class="col-xs-12 col-md-4"><label>
                    {{agreementRule.editedRule.updateDate}} by
                    {{agreementRule.editedRule.updateUser}}</label></div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-2"><p class="text-right">Allowed :</p></div>
                <div class="col-xs-12 col-md-4">
                    <input type="checkbox" ng-model="agreementRule.editedRule.reqAllowed">
                </div>
            </div>

            <br/>

            <table class="table">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Required visa</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="visa in agreementRule.editedRule.agreementVisas">
                        <td>{{$index + 1}}</td>
                        <td>
                            <form class="form-inline">
                                <div class="form-group">
                                    Department :
                                    <select class="form-control" id="inputDepartment"
                                            ng-model="visa.departmentCode"
                                            ng-options="department.code as department.name for department in agreementRule.departments"
                                            ng-required="true"></select>
                                    &nbsp;&nbsp;
                                    Seniority :
                                    <input type="number" class="form-control" min="0" max="100"
                                           ng-model="visa.seniority"
                                           ng-required="true">
                                    &nbsp;&nbsp;
                                    <div class="btn-group" role="group" aria-label="">
                                        <button type="button" class="btn btn-default"
                                                ng-show="!$first"
                                                ng-click="agreementRule.moveVisaLeft($index)">
                                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                ng-show="!$last"
                                                ng-click="agreementRule.moveVisaRight($index)">
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default"
                                                ng-click="agreementRule.removeVisa($index)"
                                                ng-show="agreementRule.editedRule.agreementVisas.length>1">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td><button type="button" class="btn btn-default"
                                ng-click="agreementRule.addVisa()">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            &nbsp;Add a visa
                        </button></td>
                    </tr>

                </tbody>
            </table>

            <br/>

            <!-- Buttons CANCEL and SAVE -->

            <div class="row">
                <div class="col-xs-12 col-md-12"><p class="text-center">
                    <button class="btn btn-primary"
                            ng-click="agreementRule.cancel()">Cancel</button>
                    <button type="submit" class="btn btn-success"
                            ng-if="agreementRule.creationMode"
                            ng-click="agreementRule.create()">
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Create</button>
                    <button type="submit" class="btn btn-success"
                            ng-if="agreementRule.editionMode"
                            ng-click="agreementRule.update()">
                        <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save</button>
                </p>
                </div>
            </div>

        </div>

    </div>