    <h3><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Request</h3><br/>

    <div class="panel panel-info">
        <div class="panel-heading">Reference : <strong>{{request.request.reference}}</strong>
            <div class="pull-right">Overall status :
                <span class="{{cssClassForOverallStatus}}">{{request.request.overallStatusLabel}}</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>Customer : </label> {{request.request.customerName}} ({{request.request.customerUid}})
                </div>
                <div class="col-xs-12 col-md-6">
                    <label>Request date : </label> {{request.request.creationDate}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label>Departure and arrival : </label>
                    {{request.request.departureName}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                    {{request.request.arrivalName}}
                </div>
                <div class="col-xs-12 col-md-6">
                    <label>Goods : </label> {{request.request.goodsName}}
                </div>
            </div>
            <div class="row" ng-if="requestIsWaitingForValidation">
                <div class="col-xs-12 col-md-12">
                    <label>Remaining visas : </label>
                    <span ng-repeat="visa in request.request.remainingVisas">
                        <span class="label label-default">{{visa.departmentName}} - {{visa.seniority}}</span>
                        <span class="glyphicon glyphicon-chevron-right glyphicon-align-left" aria-hidden="true"
                                ng-if="!$last"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- Details of Agreement process -->

    <div class="panel panel-default">

        <div class="panel-heading">Agreement process
            <div class="pull-right">Agreement status : <span class="{{cssClassForAgreementStatus}}">
                {{request.request.agreementStatusLabel}}
            </span></div>
        </div>

        <div class="panel-body">

            <div class="alert alert-danger alert-dismissible" role="alert"
                 ng-if="showSubmissionErrorMsg">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>An error occured!</strong> {{submissionErrorMsg}}
            </div>

            <form class="form-horizontal" name="request.formVisa">

                <dl class="dl-horizontal" ng-if="request.request.appliedAgreementVisas.length==0">
                    <dt></dt>
                    <dd>No agreement visa has yet been applied</dd>
                </dl>

                <dl class="dl-horizontal" ng-repeat="visa in request.request.appliedAgreementVisas">
                    <dt>{{visa.date}}</dt>
                    <dd>
                        <label>Visa "{{visa.departmentName}} - {{visa.seniority}}"
                            <span class="label label-success" ng-if="request.isVisaGranted(visa)">Granted</span>
                            <span class="label label-danger" ng-if="request.isVisaDenied(visa)">Refused</span>
                            by {{visa.employeeName}}</label>
                        <br/>
                        <small>{{visa.comment}}</small>
                    </dd>
                </dl>

                <dl class="dl-horizontal" ng-if="requestIsWaitingForValidation">
                    <dt></dt>
                    <dd>
                        <div class="form-group">
                            <label for="inputEmployee" class="col-sm-4 control-label">Which employee are you supposed to be ?</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="inputEmployee" name="inputEmployee"
                                        ng-model="request.operation.employee"
                                        ng-options="employee as
                                            employee.fullName + ' - ' + employee.departmentLabel + '/' + employee.seniority
                                            for employee in request.employees"
                                        ng-required="true"
                                        ng-change="request.selectedEmployeeHasChanged()">
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             ng-if="request.selectedEmployeeCanGrantOrDenyNextVisa">
                            <label for="inputComment" class="col-sm-4 control-label">Visa comment</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" id="inputComment" name="inputComment"
                                        ng-model="request.operation.comment"
                                        placeholder="Comment is mandatory"
                                        ng-required="true">
                                </textarea>
                            </div>
                        </div>
                    </dd>
                </dl>

                <dl class="dl-horizontal"
                        ng-if="requestIsWaitingForValidation && request.selectedEmployeeCanGrantOrDenyNextVisa">
                    <dt></dt>
                    <dd>
                        <p class="text-center">
                            <button type="submit" class="btn btn-success"
                                    ng-disabled="!request.formVisa.$valid"
                                    ng-click="request.grantVisa()">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Grant your visa
                            </button>
                            <button type="submit" class="btn btn-danger"
                                    ng-disabled="!request.formVisa.$valid"
                                    ng-click="request.denyVisa()">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Deny your visa
                            </button>
                        </p>
                    </dd>
                </dl>

            </form>
        </div>

    </div>