        <div class="row">
            <div class="col-xs-12 col-md-10">
                <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Employees</h3>
            </div>
            <div class="col-xs-12 col-md-2">
                <p class="text-right">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </p>
            </div>
        </div>

        <br/>

        <table class="table table-bordered">
            <thead>
            <tr class="info">
                <th>Name</th>
                <th>UID</th>
                <th>Profile</th>
                <th>Department</th>
                <th>Seniority</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees.list"
                    ng-click="employees.selectEmployee(employee)">
                <td scope="row">{{employee.fullName}}</td>
                <td>{{employee.uid}}</td>
                <td>{{employee.profileLabel}}</td>
                <td>{{employee.departmentLabel}}</td>
                <td>{{employee.seniority}}</td>
            </tr>
            </tbody>
        </table>

        <div class="panel panel-info" ng-if="employees.employeeSelected">

            <div class="panel-heading">Employee <strong>{{employees.editedEmployee.fullName}}</strong></div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-12 col-md-2"><p class="text-right">Creation :</p></div>
                    <div class="col-xs-12 col-md-4"><label>{{employees.editedEmployee.creationDate}} by
                        {{employees.editedEmployee.creationUser}}</label></div>
                    <div class="col-xs-12 col-md-2"><p class="text-right">Last update :</p></div>
                    <div class="col-xs-12 col-md-4"><label>{{employees.editedEmployee.updateDate}} by
                        {{employees.editedEmployee.updateUser}}</label></div>
                </div>

                <form class="form-horizontal" name="employees.formEmployee">

                    <div class="form-group">
                        <label for="uid" class="col-sm-2 control-label">UID</label>
                        <div class="col-sm-10">
                            <label class="form-control-static">{{employees.editedEmployee.uid}}</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Full name</label>
                        <div class="col-sm-10">
                            <input type="text" id="inputName" class="form-control"
                                   ng-model="employees.editedEmployee.fullName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputProfile" class="col-sm-2 control-label">Profile</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputProfile"
                                    ng-model="employees.editedEmployee.profileCode"
                                    ng-options="profile.code as profile.label for profile in employees.availableProfiles">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputDepartment" class="col-sm-2 control-label">Department</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="inputDepartment"
                                    ng-model="employees.editedEmployee.departmentCode"
                                    ng-options="department.code as department.name for department in employees.availableDepartments">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputSeniority" class="col-sm-2 control-label">Seniority</label>
                        <div class="col-sm-10">
                            <input type="number" id="inputSeniority" class="form-control" min="0" max="100"
                                   ng-model="employees.editedEmployee.seniority">
                        </div>
                    </div>

                </form>


                <div class="row">
                    <div class="col-xs-12 col-md-12"><p class="text-center">

                        <button class="btn btn-primary"
                                ng-click="employees.cancel()">Cancel</button>
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save</button>
                    </p>
                    </div>
                </div>

            </div> <!-- end of panel-body -->

        </div> <!-- end of panel -->